page-home {
  .gradient{
    background: linear-gradient(to bottom,  map-get($colors, light) 0%, map-get($colors, secondary) 100%);
  }

  #map{
    height: 100%;
    width: 100%;
  }

  .search-button{
    position: absolute;
  }
  .full-width-select {
    width: 100%;
    max-width: 100%;
  }
  .wrap-text {
    white-space:normal;
    text-transform: none;
  }
}
